.contact-container {
    width: clamp(300px, 90%, 800px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container input {
    width: 100%;
    margin: 10px;
    height: 45px;
    font-size: 1.2rem;
    background-color: transparent;
    border: 5px solid var(--clr-black);
    padding-left: 10px;
}

.contact-container input::placeholder {
    color: var(--clr-black);
    font-family: 'montserrat';
    opacity: 0.7;
}

.contact-input {
    box-shadow: 4px 4px 0px 0px #F2AD4B;
}
.contact-input-message {
    min-height: 100px;
    display: flex;
    align-items: flex-start;
}